* {
  font-family: "Josefin Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #777;
}
body a {
  color: #777;
  text-decoration: none;
  transition: 0.4s;
}
body ul {
  list-style: none;
}
body .header {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
@media (max-width: 479px) {
  body .header {
    padding: 1.1rem;
  }
}
body .header-logo {
  color: #04293A;
  font-size: 2.2rem;
}
body .header-navbar {
  height: 100%;
  margin: 0 1rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 479px) {
  body .header-navbar {
    display: none;
  }
}
body .header button {
  all: unset;
  cursor: pointer;
}
body .header button:hover {
  color: #1f6bb6;
}
body .header .navbar-buttons {
  padding: 0 1rem;
}
body .header-social-media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 479px) {
  body .header-social-media ul {
    display: none;
  }
}
body .header-social-media ul li {
  margin: 0 1rem;
}
body .header-social-media ul li a:hover {
  color: #FFF;
}
body .questions-table {
  border-collapse: collapse;
  font-size: 1.4em;
  box-shadow: 0 0 1rem rgba(4, 41, 58, 0.6);
  width: 100%;
  max-width: 1280px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
@media (max-width: 479px) {
  body .questions-table {
    padding: 1.1rem;
  }
}
body .questions-table thead tr {
  background-color: rgba(4, 41, 58, 0.6);
  color: #CDC5BF;
  text-align: left;
}
body .questions-table th, body .questions-table td {
  padding: 1.5rem 2.5rem;
}
body .questions-table tbody tr {
  border-bottom: 0.06rem solid #CDC5BF;
}
body .questions-table tbody tr:nth-of-type(even) {
  background-color: #CDC5BF;
}
body .questions-table tbody tr:last-of-type {
  border-bottom: 0.12rem solid rgba(4, 41, 58, 0.6);
}
body .questions-table button {
  all: unset;
  cursor: pointer;
}
body .questions-table button:hover {
  color: #1f6bb6;
}
body .form {
  margin: 0 auto;
  margin-top: 10%;
  background-color: rgba(4, 41, 58, 0.6);
  padding: 0.9rem;
  border-radius: 0.9rem;
  width: 20%;
}
@media (max-width: 479px) {
  body .form {
    width: 90%;
  }
}
@media (min-width: 480px) {
  body .form {
    width: 70%;
  }
}
@media (min-width: 900px) {
  body .form {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  body .form {
    width: 30%;
  }
}
@media (min-width: 1800px) {
  body .form {
    width: 20%;
  }
}
body .form fieldset {
  border: 0.18rem solid #141414;
  padding: 0.3rem;
}
body .form legend {
  padding: 0.7rem;
  background-image: linear-gradient(to right, rgb(1, 11, 22), rgb(4, 1, 8));
  color: #CDC5BF;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}
body .form-box {
  position: relative;
  padding: 1.2rem;
}
body .form-input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 0.06rem solid #CDC5BF;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 0.12rem;
}
body .form-input:focus ~ .form-label, body .form-input:valid ~ .form-label, body .form-input:-internal-autofill-selected ~ .form-label {
  top: -1.2rem;
  font-size: 0.7rem;
  color: #1f6bb6;
}
body .form-label {
  position: absolute;
  color: #CDC5BF;
  padding: 1.2rem;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.4s;
}
body .form button {
  width: 100%;
  background-image: linear-gradient(to right, rgb(1, 11, 22), rgb(4, 1, 8));
  padding: 0.7rem;
  color: #CDC5BF;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.6rem;
}
body .form button:hover {
  background-image: linear-gradient(to right, rgb(15, 29, 46), rgb(4, 12, 5));
}
body .form p {
  text-align: center;
  padding: 1.5rem;
  color: #CDC5BF;
}
body .text-area {
  font-size: 1rem;
}
body .navbar {
  position: absolute;
  margin-top: -25px;
}
body .navbar .actions-menu {
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
}
body .navbar .show-menu {
  width: 51px;
  height: 70px;
  cursor: pointer;
}
body .navbar .actions {
  padding: 5px 0;
  font-size: 15px;
}
body .navbar .actions:hover {
  color: #1f6bb6;
}
body .pagination {
  max-width: 1280px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
body .pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.4em;
  border-collapse: collapse;
  box-shadow: 0 0 1rem rgba(4, 41, 58, 0.6);
  list-style: none;
  background-color: rgba(4, 41, 58, 0.6);
}
body .pagination li button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1rem rgba(4, 41, 58, 0.6);
  border-radius: 10%;
  margin-left: 1rem;
  background-color: #000;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
body .pagination li button:hover {
  color: #1f6bb6;
}
body .pagination li button:hover {
  background-color: #144158;
  color: #FFF;
}
body .pagination li .active {
  background-color: #144158;
  color: #FFF;
}
body .pagination li:first-child button, body .pagination li:last-child button {
  background: none;
  color: #FFF;
}
body .pagination li:first-child button:hover, body .pagination li:last-child button:hover {
  background-color: #144158;
  color: #FFF;
}
body footer {
  text-align: center;
  padding: 5rem 0;
  font-size: 0.8rem;
}
body footer span {
  font-weight: bold;
  color: #04293A;
}

/*# sourceMappingURL=styles.css.map */
